@model LoginViewModel

<!--Start breadcrumb area-->
<section class="breadcrumb-area style3" style="background-image: url(https://html.tonatheme.com/2020/energy-demo/assets/images/breadcrumb/breadcrumb-3.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content clearfix">
                    <div class="title wow slideInDown animated" data-wow-delay="0.3s" data-wow-duration="1500ms">
                        <h1>Вход</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start Contact Form Section-->
<section id="contact" class="contact-form-area style2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="contact-form-content style2">
                    <div class="contact-form">
                        <div class="inner-box">
                            <form asp-action="Login">
                                <div asp-validation-summary="All" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="UserName" class="control-label">Имя пользователя</label>
                                    <input asp-for="UserName" class="form-control" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Password" class="control-label">Пароль</label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <input type="hidden" asp-for="ReturnUrl" />

                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="button-box text-center">
                                            <button class="btn-one thm-bgc1" type="submit"><span class="txt">Вход</span></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>