<!-- Start Main Slider -->
<section id="banner" class="main-slider style1">
    <div class="slider-box">
        <!-- Banner Carousel -->
        <div class="banner-carousel owl-theme owl-carousel">
            <!-- Slide -->
            <div class="slide">
                <div class="image-layer" style="background-image:url(https://html.tonatheme.com/2020/energy-demo/assets/images/slides/slide-v3-1.jpg)"></div>
                <div class="auto-container">
                    <div class="content">
                        <h5>Защитите свой дом с помощью страхования</h5>
                        <div class="border-box"></div>
                        <h2>Безопасность вашего дома – наша забота</h2>
                    </div>
                </div>
            </div>
            <!-- Slide -->
            <div class="slide">
                <div class="image-layer" style="background-image:url(https://html.tonatheme.com/2020/energy-demo/assets/images/slides/slide-v3-2.jpg)"></div>
                <div class="auto-container">
                    <div class="content">
                        <h5>От ценных украшений до бытовой техники</h5>
                        <div class="border-box"></div>
                        <h2>Ваше имущество под надежной защитой</h2>
                    </div>
                </div>
            </div>
            <!-- Slide -->
            <div class="slide">
                <div class="image-layer" style="background-image:url(https://html.tonatheme.com/2020/energy-demo/assets/images/slides/slide-v3-3.jpg)"></div>
                <div class="auto-container">
                    <div class="content">
                        <h5>Выбирайте страхование</h5>
                        <div class="border-box"></div>
                        <h2>Защитите себя от финансовых потерь, связанных с возможными исками</h2>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Main Slider -->

<!--Start Facts Area-->
<section class="facts-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="facts-box wow animated fadeInUp" data-wow-delay="0.5s">
                    <ul>
                        <li>
                            <div class="icon"><span class="flaticon-bank thm-clr1"></span></div>
                            <div class="title"><h3>Быстрое одобрение</h3></div>
                        </li>
                        <li>
                            <div class="icon"><span class="flaticon-popular thm-clr1"></span></div>
                            <div class="title"><h3>5 тысяч клиентов</h3></div>
                        </li>
                        <li>
                            <div class="icon"><span class="flaticon-loan-1 thm-clr1"></span></div>
                            <div class="title"><h3>Никаких комиссий за оплату</h3></div>
                        </li>
                        <li>
                            <div class="icon"><span class="flaticon-insurance-1 thm-clr1"></span></div>
                            <div class="title"><h3>Гибкая оплата</h3></div>
                        </li>
                    </ul>    
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Facts Area-->

<!--Start About Style1 Area-->
<section id="about" class="about-style1-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-6">
                <div class="about-style1-image-box clearfix">
                    <div class="patter-bg" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500" style="background-image:url(https://html.tonatheme.com/2020/energy-demo/assets/images/pattern/pattern-bg-1.png);"></div>
                    <div class="gradient-bg" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000"></div>
                    <div class="image-box">
                        <img src="https://html.tonatheme.com/2020/energy-demo/assets/images/about/about-1.jpg" alt="Awesome Image">
                        <div class="overlay-box">
                            <div class="left">
                                <h2>20</h2>
                            </div>
                            <div class="right">
                                <h4>Опыт работы в сфере финансов</h4>
                            </div>
                        </div>
                    </div>
                </div>     
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="about-style1-text-box">
                    <div class="sec-title">
                        <div class="title">
                            <h5>О нас</h5>
                            <div class="border-box"></div>
                        </div>
                        <div class="big-title"><h2>Компания "Energy" </h2></div>
                    </div>
                    <div class="inner-contant">
                        <p>Это страховой лидер с многолетним опытом в области защиты имущества. Наша миссия - предоставлять высококачественные страховые продукты и услуги, сочетая инновационные подходы с традиционными ценностями.</p>
                        
                    </div>    
                </div>  
            </div>
            
        </div> 
    </div>    
</section>
<!--End About Style1 Area-->

<!--Start Services Style1 Area-->
<section id="services" class="services-style1-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="top wow animated fadeInUp" data-wow-delay="0.5s">
                    <div class="sec-title">
                        <div class="title">
                            <h5>Услуги</h5>
                            <div class="border-box"></div>
                        </div>
                        <div class="big-title"><h2>Мы предоставляем данные услуги</span></h2></div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="theme-carousel service-carousel owl-carousel owl-theme owl-dot-style1" data-options='{"loop":true, "margin":30, "autoheight":true, "nav":false, "dots":true, "autoplay":true, "autoplayTimeout":10000, "smartSpeed":700, "responsive":{ "0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "3"}, "1199":{"items": "4" }}}'>
                    <!--Start Single service Style1-->
                    <div class="single-service-style1">
                        <div class="icon">
                            <span class="flaticon-loan"></span>
                        </div>
                        <h3>Оценка рисков и консультации</h3>
                        <div class="text">
                            <p>Наши опытные страховые консультанты предоставят вам подробную оценку рисков и профессиональные рекомендации, чтобы вы могли выбрать наилучшее страховое покрытие.</p>
                        </div>
                    </div>
                    <!--End Single service Style1-->
                    <!--Start Single service Style1-->
                    <div class="single-service-style1">
                        <div class="icon">
                            <span class="flaticon-investment"></span>
                        </div>
                        <h3>Быстрое урегулирование убытков</h3>
                        <div class="text">
                            <p>Мы гарантируем оперативное и беспроблемное урегулирование убытков, чтобы восстановление после страхового случая проходило максимально эффективно и комфортно для вас.</p>
                        </div> 
                    </div>
                    <!--End Single service Style1-->
                    <!--Start Single service Style1-->
                    <div class="single-service-style1">
                        <div class="icon">
                            <span class="flaticon-loan-1"></span>
                        </div>
                        <h3>Индивидуальные планы страхования</h3>
                        <div class="text">
                            <p>Разработка персонализированных планов страхования, учитывающих ваши уникальные потребности, чтобы вы могли получить именно тот уровень защиты, который вам необходим.</p>
                        </div> 
                    </div>
                    <!--End Single service Style1-->
                    <!--Start Single service Style1-->
                    <div class="single-service-style1">
                        <div class="icon">
                            <span class="flaticon-loan-2"></span>
                        </div>
                        <h3>Технологические инновации</h3>
                        <div class="text">
                            <p>Воспользуйтесь преимуществами современных технологий в области страхования с нашими онлайн-сервисами, обеспечивающими удобство и доступность в любое время.</p>
                        </div> 
                    </div>
                    <!--End Single service Style1-->
                    <!--Start Single service Style1-->
                    <div class="single-service-style1">
                        <div class="icon">
                            <span class="flaticon-investment"></span>
                        </div>
                        <h3>Программы лояльности</h3>
                        <div class="text">
                            <p>Мы ценим наших клиентов, поэтому предлагаем выгодные программы лояльности и бонусные возможности для тех, кто выбирает "Energy" для защиты своего имущества.</p>
                        </div>
                    </div>
                    <!--End Single service Style1-->
                </div>
            </div>
         
           
        </div>
    </div>
</section>
<!--End Services Style1 Area-->
  
<!--Start Latest Projects Area-->
<section id="projects" class="latest-project-area">
    <div class="container">
        <div class="top">
            <div class="sec-title">
                <div class="title">
                    <h5>Сервис</h5>
                    <div class="border-box"></div>
                </div>
                <div class="big-title"><h2>У нас есть следущие проекты</h2></div>
            </div>
        </div>
    </div>
    <div class="outer-container">
        <div class="theme-carousel project-carousel owl-carousel owl-theme owl-dot-style2" data-options='{"loop":true, "margin":30, "autoheight":true, "nav":false, "dots":true, "autoplay":true, "autoplayTimeout":10000, "smartSpeed":700, "responsive":{ "0":{"items": "1"}, "768":{"items": "2"}, "1199":{"items": "3" }}}'>
            <!--Start Single project Style1-->
            <div class="single-project-style1">
                <div class="img-holder">
                    <div class="inner">
                        <img src="https://html.tonatheme.com/2020/energy-demo/assets/images/project/project-v1-1.jpg" alt="Awesome Image">
                        <div class="overlay-style-one bg1">
                            <div class="box">
                                <div class="content"> 
                                    <div class="zoom-button">
                                        <a class="lightbox-image" data-fancybox="gallery" href="https://html.tonatheme.com/2020/energy-demo/assets/images/project/project-v1-1.jpg">
                                            <img src="https://html.tonatheme.com/2020/energy-demo/assets/images/icon/zoom.png" alt="Zoom Icon">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="read-more-button">
                        <a class="thm-bgc1" href="#"><span class="flaticon-next"></span></a>
                    </div>
                </div>
                <div class="text-holder">
                    <h3><a href="#">Программа "Energy в Сообществе"</a></h3>
                    <p>Мы гордимся участием в благотворительных проектах и инициативах по всему миру, направленных на поддержку социальных и экологических инициатив, вкладывая в будущее нашего общего дома.</p>
                </div>
            </div>
            <!--End Single project Style1-->
            <!--Start Single project Style1-->
            <div class="single-project-style1">
                <div class="img-holder">
                    <div class="inner">
                        <img src="https://html.tonatheme.com/2020/energy-demo/assets/images/project/project-v1-2.jpg" alt="Awesome Image">
                        <div class="overlay-style-one bg1">
                            <div class="box">
                                <div class="content"> 
                                    <div class="zoom-button">
                                        <a class="lightbox-image" data-fancybox="gallery" href="https://html.tonatheme.com/2020/energy-demo/assets/images/project/project-v1-2.jpg">
                                            <img src="https://html.tonatheme.com/2020/energy-demo/assets/images/icon/zoom.png" alt="Zoom Icon">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-holder">
                    <h3><a>Инновации в страховании</a></h3>
                    <p>"Energy" активно внедряет инновационные технологии в сфере страхования, участвуя в проектах по созданию новых цифровых решений и разработке продуктов, соответствующих современным требованиям.</p>
                </div>
            </div>
            <!--End Single project Style1-->    
            <!--Start Single project Style1-->
            <div class="single-project-style1">
                <div class="img-holder">
                    <div class="inner">
                        <img src="https://html.tonatheme.com/2020/energy-demo/assets/images/project/project-v1-3.jpg" alt="Awesome Image">
                        <div class="overlay-style-one bg1">
                            <div class="box">
                                <div class="content"> 
                                    <div class="zoom-button">
                                        <a class="lightbox-image" data-fancybox="gallery" href="https://html.tonatheme.com/2020/energy-demo/assets/images/project/project-v1-3.jpg">
                                            <img src="https://html.tonatheme.com/2020/energy-demo/assets/images/icon/zoom.png" alt="Zoom Icon">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-holder">
                    <h3><a>Экологическая устойчивость</a></h3>
                    <p>Наша компания придает важность экологической ответственности, участвуя в проектах по уменьшению следа углерода и поощрению клиентов выбирать экологически устойчивые страховые решения.</p>
                </div>
            </div>
            <!--End Single project Style1--> 
            
            <!--Start Single project Style1-->
            <div class="single-project-style1">
                <div class="img-holder">
                    <div class="inner">
                        <img src="https://html.tonatheme.com/2020/energy-demo/assets/images/project/project-v1-4.jpg" alt="Awesome Image">
                        <div class="overlay-style-one bg1">
                            <div class="box">
                                <div class="content"> 
                                    <div class="zoom-button">
                                        <a class="lightbox-image" data-fancybox="gallery" href="https://html.tonatheme.com/2020/energy-demo/assets/images/project/project-v1-4.jpg">
                                            <img src="https://html.tonatheme.com/2020/energy-demo/assets/images/icon/zoom.png" alt="Zoom Icon">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-holder">
                    <h3><a>Образовательные программы</a></h3>
                    <p>"Energy" проводит образовательные и информационные проекты, направленные на повышение финансовой грамотности и осведомленности о важности страхования в обществе.</p>
                </div>
            </div>
            <!--End Single project Style1-->
            <!--Start Single project Style1-->
            <div class="single-project-style1">
                <div class="img-holder">
                    <div class="inner">
                        <img src="https://html.tonatheme.com/2020/energy-demo/assets/images/project/project-v1-5.jpg" alt="Awesome Image">
                        <div class="overlay-style-one bg1">
                            <div class="box">
                                <div class="content"> 
                                    <div class="zoom-button">
                                        <a class="lightbox-image" data-fancybox="gallery" href="https://html.tonatheme.com/2020/energy-demo/assets/images/project/project-v1-5.jpg">
                                            <img src="https://html.tonatheme.com/2020/energy-demo/assets/images/icon/zoom.png" alt="Zoom Icon">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-holder">
                    <h3><a>Партнерство с инновационными стартапами</a></h3>
                    <p>Мы активно сотрудничаем с инновационными стартапами в сфере страхования, поддерживая перспективные идеи и внедряя передовые решения в свою деятельность.</p>
                </div>
            </div>
            <!--End Single project Style1-->    
            <!--Start Single project Style1-->
            <div class="single-project-style1">
                <div class="img-holder">
                    <div class="inner">
                        <img src="https://html.tonatheme.com/2020/energy-demo/assets/images/project/project-v1-6.jpg" alt="Awesome Image">
                        <div class="overlay-style-one bg1">
                            <div class="box">
                                <div class="content"> 
                                    <div class="zoom-button">
                                        <a class="lightbox-image" data-fancybox="gallery" href="https://html.tonatheme.com/2020/energy-demo/assets/images/project/project-v1-6.jpg">
                                            <img src="https://html.tonatheme.com/2020/energy-demo/assets/images/icon/zoom.png" alt="Zoom Icon">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-holder">
                    <h3><a>Исследовательские проекты в области страхования</a></h3>
                    <p>"Energy" поддерживает исследовательские проекты, направленные на повышение эффективности страховых продуктов и создание новых методов анализа и управления рисками.</p>
                </div>
            </div>
            <!--End Single project Style1-->                                                                                                                            
            <!--Start Single project Style1-->
            <div class="single-project-style1">
                <div class="img-holder">
                    <div class="inner">
                        <img src="https://html.tonatheme.com/2020/energy-demo/assets/images/project/project-v1-7.jpg" alt="Awesome Image">
                        <div class="overlay-style-one bg1">
                            <div class="box">
                                <div class="content"> 
                                    <div class="zoom-button">
                                        <a class="lightbox-image" data-fancybox="gallery" href="https://html.tonatheme.com/2020/energy-demo/assets/images/project/project-v1-7.jpg">
                                            <img src="https://html.tonatheme.com/2020/energy-demo/assets/images/icon/zoom.png" alt="Zoom Icon">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-holder">
                    <h3><a>Страхование в рамках корпоративной ответственности</a></h3>
                    <p>Мы реализуем проекты по страхованию в рамках корпоративной ответственности, взаимодействуя с организациями и предприятиями, чтобы обеспечить их устойчивость и защиту от рисков.</p>
                </div>
            </div>
            <!--End Single project Style1-->
            <!--Start Single project Style1-->
            <div class="single-project-style1">
                <div class="img-holder">
                    <div class="inner">
                        <img src="https://html.tonatheme.com/2020/energy-demo/assets/images/project/project-v1-8.jpg" alt="Awesome Image">
                        <div class="overlay-style-one bg1">
                            <div class="box">
                                <div class="content"> 
                                    <div class="zoom-button">
                                        <a class="lightbox-image" data-fancybox="gallery" href="https://html.tonatheme.com/2020/energy-demo/assets/images/project/project-v1-8.jpg">
                                            <img src="https://html.tonatheme.com/2020/energy-demo/assets/images/icon/zoom.png" alt="Zoom Icon">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-holder">
                    <h3><a>Проект "Energy для предпринимателей"</a></h3>
                    <p>Специальная программа страхования, направленная на поддержку предпринимательской активности, предоставляя индивидуальные страховые решения для бизнеса.</p>
                </div>
            </div>
            <!--End Single project Style1-->    
            <!--Start Single project Style1-->
            <div class="single-project-style1">
                <div class="img-holder">
                    <div class="inner">
                        <img src="https://html.tonatheme.com/2020/energy-demo/assets/images/project/project-v1-9.jpg" alt="Awesome Image">
                        <div class="overlay-style-one bg1">
                            <div class="box">
                                <div class="content"> 
                                    <div class="zoom-button">
                                        <a class="lightbox-image" data-fancybox="gallery" href="https://html.tonatheme.com/2020/energy-demo/assets/images/project/project-v1-9.jpg">
                                            <img src="https://html.tonatheme.com/2020/energy-demo/assets/images/icon/zoom.png" alt="Zoom Icon">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-holder">
                    <h3><a>Интернациональные партнерства</a></h3>
                    <p>"Energy" активно участвует в проектах международного уровня, сотрудничая с другими страховыми компаниями и организациями для развития глобальных страховых стандартов и решения современных вызовов.</p>
                </div>
            </div>
            <!--End Single project Style1-->                                                                                                             
                       
        </div>
    </div>
</section>   
<!--End Latest Projects Area-->